<h2>Update <%= box.name %> box</h2>
<form action="/box/<%= box.moveId %>/box/<%= box._id %>/update" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= box.name %>" >
    <label for="destination">Description</label>
    <input type="text" name="description" id="description" value="<%= box.description %>" > 
    <input type="submit" value="Update">
  </form>