<h1><%= move.name %> boxes</h1>

<% boxes.forEach((box) => { %>
    <a href="/box/<%= move._id %>/box/<%= box._id %>">
      <%= box.name %>
      </a>
      <a href="/box/<%= move._id %>/box/<%= box._id %>/update">
        Update
      </a>
      <form action="/box/<%= move._id %>/box/<%= box._id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
      <br>
  <% })%>


<a href="/box/<%= move._id %>/box/new">Create a box</a>
